:root{
    --primary:#21251f;
    --secondary:#c8f560;
    --color3:#4e515c;
    --color4:#7862f8;
    --font:4rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--primary);
}
button{
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--secondary);
    border: none;
}
nav{
    padding: 30px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
    padding-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
nav ul li{
    display: inline;
    list-style: none;
}
nav li a{
    color: white;
    padding-bottom: 30px;
    margin-left: 40px;
    text-decoration: none;

}
/*header styling*/
header{
    background: url(../img/image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: normal;
    height: 100vh;
    /*Flexbox here*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: rgb(15, 15, 15);
}
.main-heading{
    position: absolute;
    top: 7rem;
    font-size: var(--font);
    word-spacing: 10px;
    margin-bottom: -40px;
}
.primary-heading span{
    color: var(--secondary);
}
.primary-heading{
    position: absolute;
    bottom: 11rem;
    margin-bottom: 40px;
    font-size: var(--font);
    word-spacing: 10px;
}
.main-btn{
    background: transparent;
    position: absolute;
    bottom: 8rem;
    margin-top: 20px;
    background-color: var(--secondary);
    transform: translateY(60px);

}
.why{
    margin: 10px;
    padding: 50 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.why div{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.why .mission{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.why div p{
    margin: 12px 0;
    text-align: justify;
}
.why span{
    color: var(--secondary);
    font-weight: bold;
}

section{
    margin: 50px 30px;
    color: #fff;
}
section h1{
    color: var(--secondary);
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 800;
    margin: 12px 0
}
/* features start*/
div.features{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div.card{
    width: 25%;
    padding: 24px 12px;
    background-color: var(--color3);
    border-radius: 8px;
}
.card-title{
color: var(--secondary);
 margin-bottom: 25px;
 text-align: center;
 text-decoration: underline;
}
.card-body {
    list-style-position: inside;
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
}
.card-body li{
    margin:12px 0;
}

/* featues end*/
/*footer start*/
footer{
    background-color: var(--color4);
    padding: 25px 12px;
    display: flex;
    justify-content: space-around;
}
footer ul{
    list-style: none;
}
footer a{
    color: #fff;
    text-decoration: none;
}
footer h1{
    color: #fff;
}
.dev{
    padding: 12px;
    text-align: center;
    color: #fff;
}
.dev a{
    color: #fff;
}
/*footer End*/