:root{
    --primary:#21251f;
    --secondary:#c8f560;
    --color3:#4e515c;
    --color4:#7862f8;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}